
.review-list {
  margin-bottom: 20px;

}

.review-list-h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.review-list-p {
  font-size: 16px;
  line-height: 1.5;
}



/* .tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 999;

} */
